PORT=3000
NODE_ENV=development

# DB Configuration (Local defaults)
DB_HOST=localhost
DB_PORT=5432
DB_NAME=ecommerce_dev
DB_USER=ecom_user
DB_PASSWORD=

# JWT Configuration
JWT_SECRET=
JWT_EXPIRES_IN=15m
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRES_IN=7d