PORT=3000
NODE_ENV=development

# Frontend origin (required for CORS with credentials)
FRONTEND_ORIGIN=http://localhost:5173

# Supabase Configuration
DATABASE_URL=
DIRECT_URL=

# JWT Configuration
JWT_SECRET=
JWT_EXPIRES_IN=15m
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRES_IN=7d

# VNPAY SANDBOX CONFIG
VNP_TMN_CODE=
VNP_HASH_SECRET=
VNP_URL="https://sandbox.vnpayment.vn/paymentv2/vpcpay.html"